@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles (optional) */
body {
  @apply bg-gray-50 text-gray-800;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
